

<h4>Welcome to Intro to Programming!</h4>

<h4>You are taking your first steps on the journey to becoming a developer and we couldn't be more excited to have you on the road with us!</h4>

<h4>If you haven't already reviewed the content of the Getting Started at Epicodus section, take the time to go through those lessons to get the recommendations and expectations for every course at Epicodus.</h4>

<h4>Each week of Intro to Programming will cover a new set of concepts, tools and objectives. In addition to learning new skills, you will find that you are learning a whole new technical language, as well, with new terminology at every turn. Do not feel the need to memorize any code or vocabulary as you go through lessons. Daily practice will reinforce the concepts and skills that you need to be successful. Like learning to play piano, it's your hands on the keys every day, over and over, that will make all the difference in what you know and how you play.</h4>

<h4>Before arriving at Epicodus, complete the pre-work in this section which covers using the command line and a text editor called Atom.</h4>

<h4>Bring your questions, your ideas and your enthusiasm to class on Monday! The adventure begins...</h4>
